body {
    background-image: url('/images/29559648109-1080pnbcstations.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white; /* Fondo blanco */
    padding: 2rem;
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    max-width: 400px;
    width: 100%;
    text-align: center;
    border: 1px solid #e3e3e3; /* Borde gris claro */
}

    .login-container img {
        margin-bottom: 1rem;
        max-width: 200px; /* Aumenta el tamaño del logo */
    }

    .login-container h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: normal; /* Texto menos negrita */
        color: #333; /* Texto gris oscuro */
    }

    .login-container .form-control {
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid #ccc; /* Solo línea inferior */
        border-radius: 0; /* Sin bordes redondeados */
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
        box-shadow: none;
        width: 100%; /* Ocupa todo el ancho del contenedor */
    }

    .login-container .btn {
        background-color: #FFA500; /* Color anaranjado */
        border: none;
        color: white;
        padding: 0.75rem;
        border-radius: 30px; /* Bordes más redondeados */
        font-size: 1rem;
        width: 100%;
        font-weight: bold;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera en el botón */
    }

    .login-container .form-check-label {
        font-size: 0.9rem;
        color: #333; /* Texto gris oscuro */
        margin-left: 0.25rem;
    }

    .login-container .text-center {
        margin-top: 1rem;
        font-size: 0.9rem;
        color: #007bff; /* Enlaces azules */
    }

        .login-container .text-center a {
            color: #007bff;
            text-decoration: none;
        }

            .login-container .text-center a:hover {
                text-decoration: underline;
            }

    .login-container .separator {
        border-bottom: 1px solid #e3e3e3;
        margin: 10px 0;
    }

    .login-container .remember-password {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

        .login-container .remember-password .form-check {
            margin: 0;
        }

        .login-container .remember-password a {
            color: #007bff;
            font-size: 0.9rem;
            text-decoration: none;
        }
